* {
    background-color: rgb(40, 40, 40);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.flex-element{
    flex-grow: 1;
    border: 5px solid rgb(120, 120, 120);
    border-radius: 20px;
    padding: 8px;
}